// Renkler
$color-primary: #3498db;
$color-secondary: #2ecc71;
$color-text-dark: #333;
$color-text-light: #fff;
$color-border: #ccc;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

// Fontlar
$font-stack: 'Roboto', sans-serif;
$font-size-base: 16px;

// Aralıklar ve Boyutlar
$spacing-unit: 1rem;
$border-radius-base: 4px;
$spacing-unit-small: 0.5rem; // Yeni Form Mixin'i için gerekli!

$state-colors: (
    'success': #2ecc71,
    'warning': #f39c12,
    'danger': #e74c3c,
    'info': #3498db
);